<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>web3-registration</title>
</head>
<body>

<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/transaction">Transaction</a>
        </td>
    </tr>
</table>

<form action="/registration" method="POST">
    Name: <input type="text" name="name"/>
    <br>
    Password: <input type="password" name="password">
    <br>
    Money: <input type="number" name="money">
    <input type="submit" value="Register">
</form>

</body>
</html>

